<h2 class="text-center pt-5 pb-5 text-success" id="table">
    Meetups in Next 7 Days
</h2>

{% include "_snippets/meetups/table_by_days_from_today.twig" with { minDays: 0, maxDays: 7 } %}

<br>

<h2 class="text-center pt-5 pb-5 text-next-month">
    Meetups Next Month
</h2>

{% include "_snippets/meetups/table_by_days_from_today.twig" with { minDays: 8, maxDays: 30 } %}
