<h2 class="text-center pt-3 pb-3 text-success">
    <em class="fa fa-map-marker fa-fw"></em>
    Next Week
</h2>

{% include "_snippets/meetups/table_by_days_from_today.twig" with { minDays: 0, maxDays: 7 } %}

<hr>

<h2 class="text-center pt-3 pb-3 text-primary">
    <em class="fa fa-map-marker fa-fw"></em>
    Next Month
</h2>

{% include "_snippets/meetups/table_by_days_from_today.twig" with { minDays: 8, maxDays: 30 } %}
