<table class="table table-bordered table-responsive table-meetups" id="map-filterable-table">
    <thead class="thead-inverse">
        <tr>
            <th class="w-25 text-center">When</th>
            <th class="w-25 text-center">Where</th>
            <th class="text-center">Type</th>
            <th class="w-50 text-center">Meetup</th>
        </tr>
    </thead>

    {# @todo http://plnkr.co/edit/mdeEYoZtnvpfHCdtSxDP?p=preview&preview #}
    {# @todo https://stackoverflow.com/questions/38717543/how-do-i-filter-date-range-in-datatables #}

    {% for meetup in meetups %}
        {% include "_snippets/meetups/table_meetup_line.twig" %}
    {% endfor %}
</table>
