version: 2

updates:
    # Maintain dependencies for GitHub Actions
    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "weekly"
      labels:
          - "github-actions"
          - "dependencies"

    # Maintain dependencies for Composer
    - package-ecosystem: "composer"
      directory: "/"
      schedule:
          interval: "weekly"
      labels:
          - "php"
          - "dependencies"
      groups:
          symfony:
              patterns:
                  - "symfony/*"