body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    color: #222;
    font-size: 19px;
    line-height: 1.5em;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

#mapid {
    height: 25em;
}

#head {
    background: #6C78AF;
    color: #FFF;
    border-bottom: 10px #59649a solid;
}

::placeholder {
    color: #000;
    opacity: 1;
}

.blockquote-footer {
    color: #FFF;
    font-size: .7em;
}

#head h1 {
    font-size: 3.4rem;
}

#head h1 a {
    color: #FFF;
    text-decoration: none;
}

footer {
    background: #3d3c3c;
    border-top: 10px #252526 solid;
    line-height: 2.5em;
}

footer p {
    color: #DDD;
}

footer a {
    color: #FFF;
    text-decoration: underline;
}

footer a:hover {
    color: #DDD;
    text-decoration: none;
}

#content a:hover {
    text-decoration: none;
}

/* fluid container with break on top dimension */
@media (min-width: 1200px) {
    .container-fluid {
        max-width: 1140px;
    }
}

/* show/hidden menu; ref https://stackoverflow.com/a/35362821/1348344 */
@media (max-width: 768px) {
    .hidden-sm-down {
        display: none !important;
    }
}

@media (min-width: 769px) {
    .hidden-md-up {
        display: none !important;
    }
}

/* mobile version */
@media (max-width: 768px) {
    #head h1 {
        font-size: 1.7em;
    }
}

/* mobile narrow */
@media (max-width: 460px) {
    #head h1 {
        font-size: 1.5em;
    }
}

/*!* map pop-ups *!*/
.leaflet-container {
    font-size: 1em;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

#map_metadata {
    text-align: center;
}

.dataTables_filter {
    display: none;
}

.text-bigger {
    font-size: 1.3em;
    line-height: 1.7em;
}

.thead-inverse th a {
    display: block;
    color: #DDD;
    text-decoration: underline;
}

.thead-inverse th a:hover {
    color: #FFF;
    text-decoration: none;
}

#head a.btn {
    text-decoration: none;
}

#filter-form input {
    font-size: 1.0em;
    margin-top: -.2em;
    margin-bottom: -.6em;
    color: #333;
}

#filter-form input::placeholder {
    color: black;
}
