<a name="menu"></a>
<div class="text-center mt-4 mb-4">
    <a class="btn mr-2 btn-lg {% if id == "europe" %}btn-danger{% else %}btn-outline-danger{% endif %}" href="/#menu">Europe</a>
    <a class="btn mr-2 btn-lg {% if id == "north_america" %}btn-danger{% else %}btn-outline-danger{% endif %}" href="/north-america#menu">North America</a>
    <a class="btn mr-2 btn-lg {% if id == "south_america" %}btn-danger{% else %}btn-outline-danger{% endif %}" href="/south-america#menu">South America</a>
    <a class="btn mr-2 btn-lg {% if id == "asia" %}btn-danger{% else %}btn-outline-danger{% endif %}" href="/asia#menu">Asia</a>
    <a class="btn mr-2 btn-lg {% if id == "africa" %}btn-danger{% else %}btn-outline-danger{% endif %}" href="/africa#menu">Africa</a>
    <a class="btn btn-lg {% if id == "australia" %}btn-danger{% else %}btn-outline-danger{% endif %}" href="/australia#menu">Australia</a>
</div>
