<div class="text-center mt-4 mb-4 hidden-sm-down" id="area-menu">
    {% for area in areas %}
        <a onclick="changeMapArea('{{ area.key }}');" class="btn mr-2 btn-lg btn-outline-danger">
            {{ area.title }}
        </a>
    {% endfor %}
</div>

<div class="text-center mt-4 mb-4 hidden-md-up" id="area-menu">
    {% for area in areas %}
        <a onclick="changeMapArea('{{ area.key }}');" class="btn mr-1 btn-lg btn-outline-danger">
            {{ area.short_title }}
        </a>
    {% endfor %}
</div>
