<div id="area-menu" class="mb-4">
    <nav class="navbar text-center">
        <div class="container">
            <div class="hidden-sm-down">
                {% include('_snippets/area_menu_ul.twig') with { 'title_key': 'title' } %}
            </div>

            <div class="hidden-md-up">
                <div class="row">
                    {% include('_snippets/area_menu_ul.twig') with { 'title_key': 'short_title' } %}
                </div>
            </div>
        </div>
    </nav>
</div>
