<div class="text-center mt-4 mb-4">
    <a class="btn {% if id == "europe" %}btn-danger{% else %}btn-outline-danger{% endif %}" href="/">Europe</a>
    <a class="btn {% if id == "north_america" %}btn-danger{% else %}btn-outline-danger{% endif %}" href="/north-america">North America</a>
    <a class="btn {% if id == "south_america" %}btn-danger{% else %}btn-outline-danger{% endif %}" href="/south-america">South America</a>
    <a class="btn {% if id == "asia" %}btn-danger{% else %}btn-outline-danger{% endif %}" href="/asia">Asia</a>
    <a class="btn {% if id == "africa" %}btn-danger{% else %}btn-outline-danger{% endif %}" href="/africa">Africa</a>
    <a class="btn {% if id == "australia" %}btn-danger{% else %}btn-outline-danger{% endif %}" href="/australia">Australia</a>
</div>
