<div id="area-menu" class="mb-4">
    <nav class="navbar text-center">
        <div class="container">
            <div class="hidden-sm-down">
                <ul>
                    {% for area in areas %}
                        <li>
                            <a onclick="changeMapArea('{{ area.key }}');" class="mr-2">{{ area.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="hidden-md-up">
                <div class="row">
                    <ul>
                        {% for area in areas %}
                            <li>
                                <a onclick="changeMapArea('{{ area.key }}');">{{ area.short_title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
