{% if id is not defined %}{% set id = null %}{% endif %}

<div class="row mb-4 text-center">
    <div class="col-6 col-sm-4 col-md-2">
        <a href="#-" onclick="locateme();" class="btn btn-outline-danger">📌  &nbsp;Locate me</a>
    </div>

    <div class="col-6 col-sm-4 col-md-2">
        <a href="/wordpress/" class="btn btn-outline-primary ml-3 {% if id == "wordpress" %} active{% endif %}">
            {{ count_meetups_including_tags(all_meetups, 'wordpress') }}
            in WordPress
        </a>
    </div>

    <div class="col-6 col-sm-4 col-md-2">
        <a href="/drupal/" class="btn btn-outline-info ml-3 {% if id == "drupal" %} active{% endif %}">
            {{ count_meetups_including_tags(all_meetups, 'drupal') }}
            in Drupal
        </a>
    </div>

    <div class="col-6 col-sm-4 col-md-2 text-muted">
        <small>
            <a href="/api/meetups.json" class="mr-3">Meetups JSON</a>
        </small>
    </div>
    <div class="col-6 col-sm-4 col-md-2 text-muted">
        <small>
            <a href="/api/groups.json" class="mr-3">Groups JSON</a>
        </small>
    </div>
    <div class="col-6 col-sm-4 col-md-2 text-muted">
        <small>
            <span class="pl-5">{{ "now"|date("Y-m-d") }} CET</span>
        </small>
    </div>
</div>
