{% if id is not defined %}{% set id = null %}{% endif %}

<p class="text-center pb-2">
    <a href="#-" onclick="locateme();" class="btn btn-primary">Locate me</a>
    <a href="" onclick="share_bounds();" class="share-link-bounds btn btn-warning ml-3">Share Current Map</a>
    <a href="/api/meetups.json" class="btn btn-danger ml-3">Meetups in JSON?</a>
    <a href="/api/groups.json" class="btn btn-danger ml-3">Groups in JSON?</a>
</p>

<div class="text-center mb-3">
    <a href="/wordpress/" class="btn btn-sm btn-outline-primary mb-2 mr-3 {% if id == "wordpress" %} active{% endif %}">
        {{ count_meetups_including_tags(all_meetups, 'wordpress') }}
        WordPress meetups
    </a>
    <a href="/drupal/" class="btn btn-sm btn-outline-info mb-2 mr-3 {% if id == "drupal" %} active{% endif %}">
        {{ count_meetups_including_tags(all_meetups, 'drupal') }}
        Drupal meetups
    </a>
    <a href="/prestashop/" class="btn btn-sm btn-outline-warning mb-2 mr-3 {% if id == "prestashop" %} active{% endif %}">
        {{ count_meetups_including_tags(all_meetups, 'prestashop') }}
        PrestaShop meetups
    </a>
    <a href="/magento/" class="btn btn-sm btn-outline-danger mb-2 {% if id == "magento" %} active{% endif %}">
        {{ count_meetups_including_tags(all_meetups, 'magento') }}
        Magento meetups
    </a>
</div>
