{% if id is not defined %}{% set id = null %}{% endif %}

<div class="row pl-3 pr-3">
    <a href="/api/meetups.json" class="btn btn-light col-4">Meetups JSON</a>
    <a href="/api/groups.json" class="btn btn-light col-4">Groups JSON</a>
    <a href="https://travis-ci.org/TomasVotruba/friendsofphp.org" class="btn btn-light col-4">
        {{ "now"|date("Y-m-d") }} CET
    </a>
</div>
