<!DOCTYPE html>
<html>
    {% include "_snippets/head.twig" %}

    <body>
        <div id="head" class="text-center pt-4 pb-4">
            <h1>
                <strong>Friends</strong> of <strong>PHP</strong>
            </h1>

            <div id="subhead" class="pt-2 pb-2">
                European PHP Meetups <span>at 1 place</span>
            </div>
        </div>

        <div class="container">
            {%  block content %}{% endblock %}
        </div>

        {% include "_snippets/footer.twig" %}
        {% include "_snippets/googleAnalytics.twig" %}
    </body>
</html>
