<!DOCTYPE html>
<html>
    {% include "_snippets/head.twig" %}

    <body>
        <div class="container">
            {%  block content %}{% endblock %}
        </div>
    </body>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg-lL3KI-DhpKONlwYzQ7i2YAcL8gmopE&callback=initMap"></script>
</html>
