<!DOCTYPE html>
<html>
    {include "head"}

    <body>
        {*{include "menu"}*}

        <div class="container">
            {block content}{/block}
        </div>

        {*{include "footer"}*}
    </body>
</html>
