<!DOCTYPE html>
<html>
    {% include "_snippets/head.twig" %}

    <body>
        <div id="head" class="text-center pt-4 pb-4">
            <h1>
                <a href="/">
                    ❤️️
                    &nbsp;<strong>Friends</strong> of <strong>PHP</strong>&nbsp;
                    🐘
                </a>
            </h1>

            <div id="subhead" class="pt-2 pb-2">
                <a href="/groups">World</a> PHP Meetups in next <strong>30&nbsp;days</strong>
            </div>
        </div>

        <a href="https://github.com/tomasvotruba/friendsofphp.org"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

        {% block content %}{% endblock %}

        {% include "_snippets/footer.twig" %}
        {% include "_snippets/googleAnalytics.twig" %}
    </body>
</html>
