<!DOCTYPE html>
<html lang="en">
    {% include "_snippets/head.twig" %}

    <body>
        <div id="head" class="text-center pt-4 pb-4">
            <h1>
                <a href="/">
                    ❤️️
                    Meet&nbsp;Your <strong>Friends</strong> of <strong>PHP</strong>&nbsp;
                    🐘
                </a>
            </h1>
        </div>

        <div class="container-fluid" id="content">
            <div class="row">
                <div class="col-md-12 pb-5 pt-4">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        {% include "_snippets/footer.twig" %}
        {% include "_snippets/google_analytics.twig" %}
    </body>
</html>
