body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 19px;
    line-height: 1.5em;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

#mapid {
    height: 40em;
}

#head {
    background: hsl(229, 30%, 44%);
    color: #DDD;
}

#head h1 {
    font-size: 3.4rem;
}

#head h1 a {
    color: #EEE;
}

#head h1 a:hover {
    color: #FFF;
    text-decoration: none;
}

#subhead {
    font-size: 1.7rem;
}

#footer {
    background: hsl(229, 30%, 44%);
    color: #EEE;
}

#footer h3 {
    padding-bottom: .5em;
}

#footer a {
    color: white;
    text-decoration: underline;
}

#footer a:hover {
    text-decoration: none;
}

#footer ul {
    padding-left: 1em;
}

.add-to-calendar-button {
    margin-top: -.2em;
}

/* menu */
.navbar {
    text-align: center;
    background: hsl(229, 30%, 44%);
    padding: 0;
    margin: auto;
}

.navbar li a, .navbar li a:active, .navbar li a:focus {
    background: white;
}

nav ul {
    list-style: none;
    display: block;
    float: left;
    padding: 0;
    margin-bottom: 0;
}

nav ul li {
    float: left;
    display: block;
    position: relative;
}

nav ul li a {
    padding: .5em .7em;
    display: block;
    color: #FFF;
}

#area-menu a {
    cursor: pointer;
    display: block;
    background: hsl(229, 30%, 44%);
    color: white;
}

#area-menu li.active a, #area-menu li:hover a {
    background: white;
    border-radius: 0.5em 0.5em 0 0;
    color: hsl(229, 30%, 44%);
}

/* show/hidden menu; ref https://stackoverflow.com/a/35362821/1348344 */
@media (max-width: 768px) {
    .hidden-sm-down {
        display: none !important;
    }
}
@media (min-width: 769px) {
    .hidden-md-up {
        display: none !important;
    }
}


/* mobile version */
@media (max-width: 768px) {
    #head h1 {
        font-size: 1.7em;
    }

    #subhead {
        font-size: 1.1em;
    }
}

footer .dim {
    color: #DDD;
}