body {
    font-family: Arial, sans-serif;
    color: #333;
    padding-bottom: 2em;
    font-size: 17px;
    line-height: 1.5em;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    width: 100%;
    height: 30em;
}
