body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 19px;
    line-height: 1.5em;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

#mapid {
    height: 40em;
}

#head {
    background: hsl(229, 30%, 44%);
    color: #DDD;
}

#head h1 {
    font-size: 3.4rem;
}

#head h1 a {
    color: #EEE;
}

#head h1 a:hover {
    color: #FFF;
    text-decoration: none;
}

#subhead {
    font-size: 1.7rem;
}

#footer {
    background: hsl(229, 30%, 44%);
    color: #EEE;
}

#footer h3 {
    padding-bottom: .5em;
}

#footer a {
    color: white;
    text-decoration: underline;
}

#footer a:hover {
    text-decoration: none;
}

#footer ul {
    padding-left: 1em;
}

.add-to-calendar-button {
    margin-top: -.2em;
}

#area-menu .btn {
    cursor: pointer;
}

#area-menu .btn:hover, #area-menu .btn-danger {
    color: white;
}

#area-menu .btn-outline-danger {
    color: #dc3545;
}

/* show/hidden menu; ref https://stackoverflow.com/a/35362821/1348344 */
@media (max-width: 768px) {
    .hidden-sm-down {
        display: none !important;
    }
}
@media (min-width: 769px) {
    .hidden-md-up {
        display: none !important;
    }
}
