{% set title %}When is the Next PHP Meetup?{% endset %}

{% extends 'base.twig' %}

{% block content %}
<div class="container-fluid" id="content">
    <div class="row">
        <div class="col-md-12 pb-5 pt-4">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th class="text-center">🔎 &nbsp;ZOOM Map → Filter Meetups</th>
                                    </tr>
                                </thead>

                                <tr>
                                    <td style="padding: .2em">
                                        <a name="map"></a>
                                        <div id="{{ map_id }}"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 pl-md-0">
                    {% include "_snippets/meetups/map_and_table.twig" %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
