{% set title %}When is the Next PHP Meetup?{% endset %}

{% extends 'base.twig' %}

{% block content %}
    <div class="container-fluid" id="content">
        <div class="row">
            <div class="col-md-4 pl-md-0 pr-md-0 pt-3">
                <a name="map"></a>
                <div id="{{ map_id }}"></div>
            </div>

            <script src="{{ asset('assets/js/utils.js') }}"></script>

            <div class="col-md-8 pb-5 pt-3">
                {% include "_snippets/meetups/map_filterable_table.twig" %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>

    {# need to be run after jQuery #}
    <script src="/assets/js/menu-area-pick.js?v={{ random() }}"></script>

    {# generated javascript using jQuery #}
    {% include "_snippets/meetups_map_js.twig" %}

{% endblock %}
