---
title: "Meet Your PHP Friends in Africa"
layout: "_layouts/default.twig"
id: "africa"
---

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% include "_snippets/area_menu.twig" %}

            <div id="mapid"></div>

            <br>

            {% include "_snippets/meetups_table.twig" with {'area': areas.africa } %}
            {% include "_snippets/meetups_map.twig" with {'area': areas.africa } %}
        </div>
    </div>
{% endblock %}
