---
title: "Meet Your Friends of PHP"
layout: "_layouts/default.twig"
---

{% block content %}
    {% include "_snippets/area_menu.twig" %}

    <div class="container-fluid" id="content">
        <div class="row">
            <div class="col-md-12 pb-5">
                <div id="subhead" class="pt-0 pb-4 text-center">
                    <strong>{{ meetups|length }} meetups</strong> from <a href="/groups/">{{ groups|length }} groups</a> all over the world
                </div>

                <p class="text-center">Don't like the map? <a href="#table">Jump to the table ↓</a></p>

                <div id="{{ map_id }}" class="mr-4"></div>

                <br>

                {% include "_snippets/meetups/table.twig" %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>

    {# need to be run after jQuery #}
    <script src="/assets/js/menu-area-pick.js"></script>
    {# generated javascript using jQuery #}
    {% include "_snippets/meetups_map_js.twig" %}

{% endblock %}
