---
title: "When is the Next PHP Meetup?"
layout: "_layouts/map_layout.twig"
---

{# sort meetups from all imported files from nearest to the most further one #}
{% set meetups = sort_by_field(meetups, 'start') %}

{% set all_meetups = meetups %}
{% set meetups = filter_meetups_excluding_tags(meetups, ['wordpress', 'drupal']) %}

{% include "_snippets/menu.twig" %}

<a name="map"></a>
<div id="{{ map_id }}" class="mr-4 mb-5"></div>

{% include "_snippets/meetups/map_and_table.twig" %}
