

<h1>Friends of PHP - European PHP Meetups at 1 place</h1>

{foreach $meetups as $meetup}
    <h3>{$meetup['name']}</h3>
    <p>
        Group: {$meetup['userGroup']}
        When: {$meetup['start']|date: "Y-m-d J:i"}
    </p>
{/foreach}
