---
title: "Meet Your Friends of WordPress"
layout: "_layouts/map_layout.twig"
---

{# sort meetups from all imported files from nearest to the most further one #}
{% set meetups = sort_by_field(meetups, 'start') %}
{% set meetups = filter_by_tag(meetups, 'wordpress') %}

<div id="subhead" class="pt-0 pb-4 text-center">
    <strong>{{ meetups|length }} Wordpress meetups</strong> in next {{ max_forecast_days }} days
</div>

<a name="map"></a>

<div id="{{ map_id }}" class="mr-4"></div>

<br>

{% include "_snippets/meetups/map_and_table.twig" %}
