---
title: "Where are The Nearest WordPress Friends?"
layout: "_layouts/map_layout.twig"
id: "wordpress"
---

{# sort meetups from all imported files from nearest to the most further one #}
{% set all_meetups = meetups %}
{% set meetups = sort_by_field(meetups, 'start') %}
{% set meetups = filter_meetups_including_tags(meetups, 'wordpress') %}

<div id="subhead" class="pt-0 pb-4 text-center">
    <strong>{{ meetups|length }} WordPress meetups</strong> in next {{ max_forecast_days }} days
</div>

{% include "_snippets/menu.twig" %}

<a name="map"></a>
<div id="{{ map_id }}" class="mr-4"></div>

<br>

{% include "_snippets/meetups/map_and_table.twig" %}
